.hidden {
display: none;
}

h1 {
font-size: 52px;
font-weight: 800;
color: #DE932C;
}
    
h2 {
font-size: 40px;
font-weight: 600;
}

.bg-custom {
    background-color: #262628;
}

.bg-customnav  {
    background-color: #1967BA;
}

#searchBtn {
    background-color: #F49940;
    color: black;
    border-color: #000000;
}

.card {
    background-color: rgb(202, 201, 201);
}
