html, body {
overflow-x: hidden;
}

body {
position: relative
}


.hidden {
display: none;
}

h1 {
font-size: 52px;
font-weight: 800;
color: #ffa903;
}
    
h2 {
font-size: 40px;
font-weight: 600;
}

.bg-custom {
    background-color: #262628;
}

.bg-customnav  {
    background-color: #0e3fa9;
}

#searchBtn {
    background-color: #ffa903;
    color: black;
    border-color: #000000;
}

.card {
    background-color: rgb(202, 201, 201);
    width: auto;
}

.hidden {
    display: none;
}
